version: "0.6.0"
darwin_url: "https://olivedownlod.s3.ap-northeast-2.amazonaws.com/ollama/ollama-darwin.tgz"
windows_url: "https://olivedownlod.s3.ap-northeast-2.amazonaws.com/ollama/ollama-windows-amd64.zip"
